	<li onclick="updateReport('dashboard');">Dashboard</li>
	<li onclick="updateReport('achillesheel');">Achilles Heel</li>
	<li onclick="updateReport('person');">Person</li>
	<li onclick="updateReport('observationperiods');">Observation Periods</li>
	<li onclick="updateReport('datadensity');">Data Density</li>
	<li onclick="updateReport('conditions');">Conditions</li>
	<li onclick="updateReport('conditioneras');">Condition Eras</li>
	<li onclick="updateReport('observations');">Observations</li>
	<li onclick="updateReport('drugeras');">Drug Eras</li>
	<li onclick="updateReport('drugs');">Drug Exposures</li>
	<li onclick="updateReport('procedures');">Procedures</li>
	<li onclick="updateReport('visits');">Visits</li>
	<li onclick="updateReport('death');">Death</li>

