<div class="row">
    <div class="col-md-8">
        <a data-acronym="{{ t.name }}" href="c/{% if comm %}{{comm.slug}}{% else %}{{f_community.slug}}{% endif %}/fingerprint/{{ t.id }}/{% if not config.useQuestionSetRBAC %}1{% endif %}">{{ t.name }}
    </div>
    <div class="col-md-4">
        {% if t.draft %}<span class="pull-right label label-default">DRAFT</span>{% endif %}
    </div>
    </div>
    <div class="row" style="margin-top:0.5em">
    <div class="col-md-12">
        <span class="pull-right label label-primary">{{ t.type_name }}</span>
    </div>
</div>